@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 212, 175, 55;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: #D4AF37; /* Золотой цвет текста */
  background: #050505; /* Черный фон */
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: var(--font-cinzel), serif;
}

/* Убираем полосу прокрутки для эстетики */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #333;
}
